---
import Button from './Button.astro';
import Social from './Social.astro';
---

<section
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="text-2xl text-sky-950 lg:text-4xl">Contact</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-sky-950"></span>
	</div>
	<hr class="w-1/2" />
	<div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
</section>