---
import { Icon } from 'astro-icon';

const links = [
  {
    name: 'About',
    href: '#about'
  },
  {
    name: 'Skills',
    href: '#skills'
  },
  {
    name: 'Projects',
    href: '#projects'
  },
  {
    name: 'Contact',
    href: '#contact'
  }
]
---

<nav class="flex flex-wrap justify-between p-6 fixed top-0 left-0 right-0 bg-sky-950 z-10 shadow-lg">
  <h1 class="flex items-center">
    <Icon
    class="h-8 text-white md:h-12"
    name='tabler:prompt'
    />
    <a href="#" class="text-white hover:text-dark-yellow font-display text-3xl me-1">EMILY TIRY</a>
  </h1>
  <Icon id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block text-white self-center" name='mdi:hamburger-menu' />
  <div class="hidden w-full md:flex md:items-center md:justify-between md:w-auto" id="menu">
    <ul class="md:flex md:justify-between pt-4 md:pt-0">
      {links.map((link) => 
        <li class="md:mx-6">
          <a href={link.href} class="text-white hover:text-dark-yellow underline decoration-solid decoration-dark-yellow decoration-2 underline-offset-2">
            {link.name}
          </a>
        </li>)}
    </ul>
  </div>
</nav>

<script>
  const hamburger = document.querySelector('#menu-button');
  const menu = document.querySelector('#menu');
  const links = document.querySelectorAll('li');

  hamburger.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });

  links.forEach((link) => {
    link.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    })
  })
</script>