---
const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-2 flex w-full flex-row flex-wrap justify-start">
			{tags.map((tag) => (
				<span class="inline-block rounded-2xl p-3 first:ms-0 m-2 text-xs lg:py-1 bg-dark-yellow">{tag}</span>
			))}
		</div>
	)
}
